.article-list-container {
  margin: 1rem;
}

.article-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.main-container {
  padding-top: 30px;
  overflow-x: hidden;
}

.filter {
  display: inline-block;
  border-radius: 0.2rem;
  font-family: sans-serif;
  padding: 0.5rem 0.2rem;
  margin-left: 30px;
  text-decoration: none;
  background: black;
  color: whitesmoke;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  font-weight: 800;
}

.filter:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.article-list-caption {
  padding-top: 50px;
  color: black;
  font-family: sans-serif;
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 30px;
  padding-left: 5px;
}

.loadmore-btn {
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    margin-top: 5%;
    margin-left: 2%;
    text-align: center;
    border-radius: 8px;
    padding: 0.5rem 2rem;
    background-color: olive;
    font-size: 13px;
    line-height: 25px;
    width: fit-content;
  }
  
  .loadmore-btn:hover {
    cursor: pointer;
    background-color: black;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  .back-to-top {
    font-size: 1.2rem;
    color: olive;
    font-weight: 800;
    margin-top: 5%;
  }

  .back-to-top:hover {
    cursor: pointer;
    color: black;
  }

@media screen and (min-width: 900px) {
  .article-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 750px) {
  .filter {
    padding: 0.2rem 0rem;
    font-size: 1rem;
    margin-left: 20px;
  }
}
