.add-comment {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.button-container {
  display: grid;
  justify-content: center;
}

.button-container textarea {
  width: 250px;
  height: 80px;
  border-radius: 3px;
}

.button-addcomment {
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  margin-top: 5%;
  margin-left: 2%;
  text-align: center;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: olive;
  font-size: 13px;
  place-self: center;
}

.button-addcomment:hover {
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
}

.comment-body {
  width: 50vh;
  align-items: center;
  font-family: sans-serif;
  border-radius: 15px;
  border: 2px solid darkslategray;
}
