.article-card {
  background-color: #ffffff;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
  margin: 0 auto;
  position: relative;
  padding-bottom: 1rem;
  max-width: 600px;
}

.article-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.article-card-img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 0.2rem;
  width: 100%;
}

.card-title {
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

.title {
  color: black;
}

.title:hover {
  color: olive;
}

.card-details {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  padding: 10px;
  padding-left: 0px;
}

.card-info {
  margin: 0.5rem 1rem;
}
