.article-card {
  background-color: #ffffff;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
  margin: 0 auto;
  position: relative;
  padding-bottom: 3rem;
  max-width: 600px;
}

.article-card:hover {
  box-shadow: 20px;
}

.article-card-img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 0.2rem;
  width: 100%;
}

.truncate {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-title {
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

.title {
  color: black;
}

.title:hover {
  color: olive;
}

.card-details {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  padding: 10px;
  padding-left: 0px;
}

.body {
  margin-top: 0.5rem;
}

.card-info {
  margin: 0.5rem 1rem;
}

.read-more-btn {
  font-weight: 800;
  gap: 0.8rem;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
}

.topic-btn {
  cursor: pointer;
}

.topic-btn:hover {
  color: olive;
}

.read-more-btn:hover {
  color: olive;
}

.read-more-btn:hover {
  color: olive;
}
