@media (prefers-reduced-motion: no-preference) {
}

.App {
background-color:whitesmoke;
width: fit-content;
}

.ArticleList {
  width: 80vw;
  margin: 4vh auto 5vh auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  border: 1.5px solid darkslategray;
  background-color: rgb(255, 255, 255);
  align-items: center;
  z-index: 999;
  font-size: 20px;
  line-height: 48px;
  border-radius: 60px;
  padding: 20px;
}

.ArticleList:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.article-info {
  color: darkslategray;
  font-size: small;
  margin: 0vh;
  padding: 0%;
}

.article-list-title {
  color: rgb(30, 109, 111);
}

.articlePreview {
  font-size: medium;
  font-family: "Poppins", sans-serif;
  line-height: 3vh;
  color: darkslategray;
}

.Article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  font-family: sans-serif;
  font-weight: 00;
  color: #282c34;
}

.articleBody {
  font-family: sans-serif;
  text-align: left;
  margin-left: 30vh;
  margin-right: 30vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  line-height: 5vh;
}

.Article h2 {
  font-family: "Poppins", sans-serif;
  padding: 1.5vh 1.5vw;
  font-size: 50px;
  color: #282c34;
  text-align: center;
  margin-left: 30vh;
  margin-right: 30vh;
  margin-bottom: 0%;
}

.articleVote {
  color: darkslategray;
  font-family: "Poppins", sans-serif;
  align-self: center;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 40px;
  border: solid 1.5px darkslategray;
  box-shadow: none;
  margin: 5%;
  margin-bottom: 15vh;
}

.articleImg {
  border-radius: 60px;
  width: 120vh;
}

.ArticleList h2 {
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  font-size: 40px;
  color: #282c34;
  text-align: left;
  text-decoration: none;
  margin-top: 1%;
  margin-bottom: 1%;
}

.userAvatar {
  width: 1cm;
  mix-blend-mode: multiply;
}

.header {
  font-family: "Poppins", sans-serif;
  width: 96vw;
  margin-top: 0%;
  color: #282c34;
  display: block;
  text-decoration: none;
  text-align: left;
  margin-bottom: 1%;
  margin-left: 10vh;
  font-size: 80px;
}

.navBar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.nav-login:hover {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  margin-left: 10vh;
  margin-bottom: 10%;
  text-align: center;
  border-radius: 15px;
  border: 1.5px solid rgb(255, 255, 255);
  background-color: darkslategray;
  font-size: 15px;
  line-height: 40px;
}

.nav-topics:hover {
  -webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}

.nav-login {
  color: darkslategray;
  width: 10vw;
  font-family: "Poppins", sans-serif;
  margin-left: 10vh;
  margin-bottom: 10%;
  text-align: center;
  border-radius: 15px;
  border: 1.5px solid darkslategray;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 40px;
}

.topics {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.nav-topics {
  color: whitesmoke;
  width: 10vw;
  font-family: "Poppins", sans-serif;
  margin-left: 10vh;
  margin-bottom: 10%;
  display: block;
  text-align: center;
  border-radius: 15px;
  border: 2px solid darkslategray;
  background-color: darkslategray;
  font-size: 15px;
  line-height: 40px;
  word-wrap: break-word;
}

.filter-articles {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  display: block;
  text-align: center;
  border-radius: 15px;
  border: 2px solid darkslategray;
  background-color: darkslategray;
  font-size: 15px;
  line-height: 40px;
  margin-left: 10vh;
}

.filter:hover {
  -webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}

.commentsSection {
  background-color: rgb(255, 255, 255);
  width: 85vw;
  margin: 4vh auto 5vh auto;
  border-radius: 20px;
  text-align: center;
}

.commentsSection h3 {
  color: whitesmoke;
  background-color: darkslategray;
  padding: 1.5vh 1.5vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.commentCard {
  padding: 2vh;
  border-top: 1px solid darkslategray;
  margin-left: 15vh;
  margin-right: 15vh;
}

.button-readmore {
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  margin-left: 10vh;
  margin-bottom: 10%;
  display: block;
  text-align: center;
  border-radius: 15px;
  background-color: darkslategray;
  font-size: 15px;
  line-height: 40px;
  border: 2px solid darkslategray;
  box-shadow: none;
  margin: 5%;
  position: static;
  overflow: hidden;
}

.button-readmore:hover {
  -webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}

.button-container {
  display: flex;
  justify-content: center;
}

.add-comment {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.comment-body {
  width: 50vh;
  align-items: center;
  font-family: sans-serif;
  border-radius: 15px;
  border: 2px solid darkslategray;
}

.button-addcomment {
  color: darkslategray;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  background-color: whitesmoke;
  font-size: 15px;
  border: 1.5px solid darkslategray;
  box-shadow: none;
  margin: 5%;
  position: static;
  overflow: hidden;
  align-items: center;
}

.button-addcomment:hover {
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  background-color: darkslategray;
  font-size: 15px;
  border: 1.5px solid whitesmoke;
  box-shadow: none;
  margin: 5%;
  position: static;
  overflow: hidden;
  align-items: center;
}

.users-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.users {
  width: 45vh;
  height: 35vh;
  margin: 4vh auto 5vh auto;
  text-align: center;
  border: 2px solid darkslategray;
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border-radius: 60px;
}

.user-image {
  height: 150px;
  width: 200px;
  object-fit: scale-down;
  mix-blend-mode: multiply;
  margin-top: 10%;
  text-align: center;
}

.user-button {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  border-radius: 15px;
  border: 2px solid darkslategray;
  background-color: darkslategray;
  font-size: 13px;
  line-height: 25px;
}

.user-button:hover {
  -webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}

.user-loggedin {
  display: flex;
  justify-content: space-around;

}

.user-loggedin p {
  margin-left: 10vh;
  color: olive;
  font-family: "Poppins", sans-serif;
  font-size: small;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: url("../src/Loading_icon.gif") no-repeat center center;
  background-size: 400px;
  mix-blend-mode: multiply;
}

.comment-vote {
 border: rgb(255, 255, 255);
 background: rgb(255, 255, 255);
}

.commentCard {
  font-family: sans-serif;
}

.article-list-caption {
  color: rgb(25, 42, 42);
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.vote-button {
  border: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
}

.vote-button:hover {
  -webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.comment-vote:hover {
  -webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.delete-comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.delete-button {
  margin-top: 2vh;
  border: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
}

.delete-button:hover {
  -webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.posted-date {
  margin-top: 2vh;
  margin-bottom: 0%;
  font-size: small;
}

.comment-text {
 text-align: center;
 font: sans-serif;
}

.comment-scroll-button {
  border: rgb(255, 255, 255);
  background: whitesmoke;
  font-family: sans-serif;
  font-weight: 600;
  font-size: medium;
  color: #282c34;
}

.comment-scroll-button {
  border: rgb(255, 255, 255);
  background: whitesmoke;
  font-family: sans-serif;
  font-weight: 600;
  font-size: medium;
  color: #282c34;
}

.topic-nav-button {
  border: rgb(255, 255, 255);
  background: whitesmoke;
  font-family: sans-serif;
  font-weight: 600;
  font-size: medium;
  color: #282c34;
}

.topic-nav-button:hover {
  color:olive;
}

.comment-scroll-button:hover {
  color: olive;
}

.vote-scroll-button {
  border: rgb(255, 255, 255);
  background: whitesmoke;
  font-family: sans-serif;
  font-weight: 600;
  font-size: medium;
  color: #282c34;
}

.vote-scroll-button:hover {
  color: olive;
}

.confirmation-message {
  color: olive;
  font-family: "Poppins", sans-serif;
}
