@media (prefers-reduced-motion: no-preference) {
}

.ArticleList {
  width: 85vw;
  margin: 4vh auto 5vh auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  border: 2px solid cadetblue;
  background-color: aliceblue;
  align-items: center;
  z-index: 999;
  font-size: 20px;
  line-height: 48px;
  border-radius: 60px;
  padding: 20px;
}

.ArticleList:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.article-info {
  color: darkslategray;
  font-size: small;
  margin: 0vh;
  padding: 0%;
}

.articlePreview {
  font-size: medium;
  font-family: "Poppins", sans-serif;
  line-height: 3vh;
  color: darkslategray;
}

.Article {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  width: fit-content;
  margin-left: 20vh;
  margin-right: 20vh;
  padding: 0 20px;
  text-align: left;
}

.articleBody {
  text-align: left;
  margin-left: 20vh;
  margin-right: 40vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
  line-height: 5vh;
}

.Article h2 {
  font-family: "Poppins", sans-serif;
  padding: 1.5vh 1.5vw;
  border-radius: 15px;
  font-size: 50px;
  color: #282c34;
  text-align: left;
  margin-left: 20vh;
  margin-right: 25vh;
  margin-bottom: 0%;
}

.articleVote {
  color: #282c34;
  font-family: "Poppins", sans-serif;
  display: block;
  align-self: center;
  text-align: center;
  border-radius: 15px;
  background-color: aliceblue;
  font-size: 15px;
  line-height: 40px;
  border: solid 1px cadetblue;
  box-shadow: none;
  margin: 5%;
  position: static;
  overflow: hidden;
}

.articleImg {
  border-radius: 60px;
  margin-left: 20vh;
  margin-right: 20vh;
}

.ArticleList h2 {
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  font-size: 40px;
  color: #282c34;
  text-align: left;
  text-decoration: none;
  margin-top: 1%;
  margin-bottom: 1%;
}

.userAvatar {
  width: 1cm;
}

.header {
  font-family: "Poppins", sans-serif;
  width: 96vw;
  margin-top: 0%;
  margin: 4vh auto 5vh auto;
  color: #282c34;
  display: block;
  text-decoration: none;
  text-align: left;
  margin-bottom: 1%;
  margin-left: 10vh;
  font-size: 80px;
}

.navBar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.nav-login:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.nav-sort:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.nav-topics:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.nav-login {
  color: cadetblue;
  width: 10vw;
  font-family: "Poppins", sans-serif;
  margin-left: 10vh;
  margin-bottom: 10%;
  display: block;
  text-align: center;
  border-radius: 15px;
  border: 2px solid cadetblue;
  background-color: aliceblue;
  font-size: 15px;
  line-height: 40px;
}

.topics {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.nav-topics {
  color: aliceblue;
  width: 10vw;
  font-family: "Poppins", sans-serif;
  margin-left: 10vh;
  margin-bottom: 10%;
  display: block;
  text-align: center;
  border-radius: 15px;
  border: 2px solid cadetblue;
  background-color: cadetblue;
  font-size: 15px;
  line-height: 40px;
  word-wrap: break-word;
}

.filter-articles {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter-label {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  margin-left: 10vh;
  margin-right: 2vh;
  display: block;
  text-align: center;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 15px;
  line-height: 40px;
}

.filter {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  display: block;
  text-align: center;
  border-radius: 15px;
  border: 2px solid cadetblue;
  background-color: cadetblue;
  font-size: 15px;
  line-height: 40px;
  margin-left: 10vh;
}

.filter:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.commentsSection {
  background-color: aliceblue;
  width: 85vw;
  margin: 4vh auto 5vh auto;
  border-radius: 20px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.commentsSection h3 {
  background-color: cadetblue;
  padding: 1.5vh 1.5vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.commentCard {
  padding: 2vh;
  border-bottom: 1px solid cadetblue;
  margin-left: 8vh;
  margin-right: 8vh;
}

.button-readmore {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  margin-left: 10vh;
  margin-bottom: 10%;
  display: block;
  text-align: center;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 15px;
  line-height: 40px;
  border: 2px solid cadetblue;
  box-shadow: none;
  margin: 5%;
  position: static;
  overflow: hidden;
}

.button-readmore:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.button-container {
  display: flex;
  justify-content: center;
}

.add-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.comment-body {
  border-radius: 15px;
  border: 2px solid cadetblue;
}

.button-addcomment {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 15px;
  border: 2px solid cadetblue;
  box-shadow: none;
  margin: 5%;
  position: static;
  overflow: hidden;
}

.button-addcomment:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.users-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.users {
  width: 45vh;
  height: 35vh;
  margin: 4vh auto 5vh auto;
  text-align: center;
  border: 2px solid cadetblue;
  background-color: aliceblue;
  font-size: 15px;
  border-radius: 60px;
}

.user-image {
  height: 150px;
  width: 200px;
  object-fit: scale-down;
  mix-blend-mode: multiply;
  margin-top: 10%;
  text-align: center;
}

.user-button {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  border-radius: 15px;
  border: 2px solid cadetblue;
  background-color: cadetblue;
  font-size: 13px;
  line-height: 25px;
}

.user-button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.login-message {
  background-color: cadetblue;
}

.user-loggedin {
  display: flex;
  justify-content: space-around;
}

.user-loggedin p {
  margin-left: 10vh;
  color: #282c34;
  font-family: "Poppins", sans-serif;
  font-size: small;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: url("../loading-icon-animated-gif-19.jpg") no-repeat center center;
  background-size: 400px;
}
