
@media (prefers-reduced-motion: no-preference) {
 
  }



.ArticleList {
  width: 85vw;
  margin: 4vh auto 5vh auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  border: 2px solid cadetblue; 
  background-color: aliceblue;
  align-items: center;
  z-index: 999;
  font-size: 20px;
  line-height: 48px;
  border-radius: 60px;
  padding: 20px;
}

.ArticleList:hover {
  box-shadow: rgb(162, 194, 195) 0px 54px 55px, rgb(162, 194, 195) 0px -12px 30px, rgb(162, 194, 195) 0px 4px 6px, rgb(162, 194, 195) 0px 12px 13px, rgb(162, 194, 195) 0px -3px 5px;
}

.article-info {
  color: darkslategray;
  font-size: small;
  margin: 0vh;
  padding: 0%;
}

.articlePreview {
  font-size: medium;
  line-height: 3vh;
}

.Article {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  width: fit-content;
  margin-left: 20vh;
  margin-right: 20vh;
  padding: 0 20px;
  text-align: left;
}

.articleBody {
  text-align: left;
  margin-left: 20vh;
  margin-right: 40vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
  line-height: 5vh;
}

.Article h2 {
  font-family: 'Poppins', sans-serif;
  padding: 1.5vh 1.5vw;
  border-radius: 15px;
  font-size: 50px;
  color: #282c34;
  text-align: left;
  margin-left: 20vh;
  margin-right: 25vh;
  margin-bottom: 0%;
}

.articleVote {
  width: 30vw;
  font-family: 'Poppins', sans-serif;
  margin: 4vh auto 5vh auto;
  display: block;
  text-align: center;
  border: 2px solid cadetblue; 
  border-radius: 15px;
  background-color: aliceblue;
  font-size: 15px;
  line-height: 40px;
}

.articleImg {
  border-radius: 60px;
  margin-left: 20vh;
  margin-right: 20vh;
}

 .ArticleList h2 {
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  font-size: 40px;
  color: #282c34;
  text-align: left;
  text-decoration: none;
 }

.userAvatar {
  width: 1cm;
}

.header {
  font-family: 'Poppins', sans-serif;
  color:#282c34;
  text-decoration: none;
  text-align: left;
  margin-left: 10vh;
  font-size: 60px;
}

.navBar {
  width: 30vw;
  font-family: 'Poppins', sans-serif;
  margin: 4vh auto 5vh auto;
  display: block;
  text-align: center;
  border: 2px solid cadetblue; 
  border-radius: 15px;
  background-color: aliceblue;
  font-size: 15px;
  line-height: 40px;
}

.navItem {
  color: rgb(2, 2, 49);
}

.commentsSection {
  background-color: aliceblue;
  width: 85vw;
  margin: 4vh auto 5vh auto;
  border-radius: 20px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.commentsSection h3 {
  background-color:cadetblue;
  padding: 1.5vh 1.5vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.commentCard {
  padding: 2vh;
  border-bottom: 1px solid rgb(2, 2, 49);
  margin-left: 8vh;
  margin-right: 8vh;
}