@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@700;800&display=swap");

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f1f1f1;
	font-weight: 300;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style-type: none;
	text-decoration: none;
	transition: var(--transition);
}

:root {
	--transition: all 300ms ease;
	--body-font: "Poppins", sans-serif;
	--title-font: "Poppins", sans-serif;
}

h1,h2, h3{
	font-family: var(--title-font);
	font-weight: 600;
}

.flex{
	display: flex;
}

section{
	margin-top: 2rem;
}